<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ student[1] }} - Detaylar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>{{ student[1] }} Detayları</h1>
    <p><strong>Öğrenci Numarası:</strong> {{ student[2] }}</p>
    <img src="{{ url_for('static', filename=student['image_path']) }}" alt="Öğrenci Resmi">
    <br>
    <button onclick="updateAttendance('{{ student[0] }}', 'mark-absent')">Yok Yaz</button>
    <a href="/">Ana Sayfaya Dön</a>
</body>

</html>