<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ student[1] }} - Detaylar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>{{ student[1] }} </h1>
    <p><strong>Öğrenci Numarası:</strong> {{ student[2] }}</p>
    <img src="{{ request.host_url }}{{ student['image_path'] }}" alt="Öğrenci Resmi"
        style="width: 210px; height: 280px; object-fit: cover; border: 1px solid #ddd;">
    <br>
    <button onclick="updateAttendance('{{ student[0] }}', 'mark-absent')">Yok Yaz</button>
    <button onclick="goBack()">Geri</button>
    <script>
        function updateAttendance(studentId, action) {
            fetch(`/update-attendance/${studentId}/${action}`, {
                method: "POST",
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        // Yoklama durumu başarıyla güncellendi
                        alert("Yoklama durumu güncellendi.");

                        // Durumu değiştiren butonu güncelle
                        const statusElement = document.getElementById("attendance-status");
                        if (statusElement) {
                            statusElement.textContent = data.updated_status === "absent" ? "Yok" : "Var";
                        }

                        // Sayfayı yenileyerek güncel veriyi al
                        window.location.reload();
                    } else {
                        // Hata durumunda sadece mesajı göster
                        alert("Hata: " + data.message);
                    }
                })
                .catch(error => {
                    console.error("Hata:", error);
                    alert("Sunucuya bağlanırken bir hata oluştu.");
                });
        }

        function goBack() {
            window.location.href = "{{ url_for('result') }}";
            // Geri gitmek için tarayıcı geçmişini kullan
        }
    </script>


</body>

</html>